<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-light">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">8341</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="8341-list1" class=" manual-list-fullwidth ">
                <ion-item class="item-icon-right  " id="8341-list-item12" ui-sref="tabsController.newRequest" menu-close="">New Request
                    <i class="icon ion-android-add"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="8341-list-item13" ui-sref="8341.settings" menu-close="">Settings
                    <i class="icon ion-android-settings"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="8341-list-item14" href="tel:657-777-3872">Contact
                    <i class="icon ion-ios-telephone"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="8341-list-item15" ui-sref="tabsController.logIn" menu-close="">Log out
                    <i class="icon ion-ios-unlocked-outline"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>