<ion-view title="All Requests" id="page7" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <form id="allRequests-form3" class="list "></form>
        <div class="list card " id="allRequests-card22">
            <ion-item class="item-icon-left  " id="allRequests-list-item9">
                <i class="icon ion-ios-trash-outline"></i>Trash
                <span class="item-note">06/01/2016</span>
            </ion-item>
            <ion-item class="positive  " id="allRequests-list-item11">Status: Completed</ion-item>
        </div>
    </ion-content>
</ion-view>