<ion-view title="{{count}} Requests" id="page7" class=" " ng-controller="allRequestsCtrl">

    <ion-content padding="true" scroll="true" class="has-header">
      <ion-refresher on-refresh="get_requests()">
      </ion-refresher>
<!-- {{all_requests}} -->
        <div class="list card " id="allRequests-card22" ng-repeat="item in all_requests track by $index">
          <!-- <ion-list show-delete="shouldShowDelete"> -->
            <ion-item id="allRequests-list-item9">
              <!-- <ion-delete-button class="ion-minus-circled"></ion-delete-button> -->

                {{item.problems['S']}}
                <!-- <span ng-repeat="problem in item.problems['S'] track by $index">{{problem['text']}}</span> -->
                <span class="item-note">{{item['date']['S'] | date}}</span>
            </ion-item>
            <ion-item class="positive">Status: Completed</ion-item>
          <!-- </ion-list> -->

        </div>

        <!-- <div class="list card " id="allRequests-card22">
            <ion-item id="allRequests-list-item9">
                Trash
                <span class="item-note">06/01/2016</span>
            </ion-item>
            <ion-item class="positive">Status: Completed</ion-item>
        </div> -->

    </ion-content>
</ion-view>
