<ion-view title="Log in" id="page8" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <form id="logIn-form4" class="list ">
            <ion-list id="logIn-list3" class=" ">
                <label class="item item-input " id="logIn-input2">
                    <span class="input-label">Phone</span>
                    <input type="tel" placeholder="your phone number">
                </label>
                <label class="item item-input " id="logIn-input3">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.newRequest" id="logIn-button4" class=" button button-positive  button-block ">Log in</a>
            <a ui-sref="signUp" id="logIn-button5" class=" button button-positive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>