<ion-view title="New Request" id="page1" style="background-color:#E6E6E6;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="newRequest-form1" class="list " ng-submit="submit()" ng-controller="newRequestCtrl">
            <label class="item item-select " id="newRequest-select1" name="unit_number">
                <span class="input-label">Unit</span>
                <select ng-model="unit">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>other</option>
                </select>
            </label>

            <label class="item item-input " id="newRequest-input1" name="phone">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="your phone number" ng-model="phone">
            </label>

        <div class="spacer" style="width: 283px; height: 24px;"></div>

        <p id="newRequest-markdown3" style="color:#000000;" class=" ">What's the request about?</p>
        <ion-list id="newRequest-list2" class=" ">
            <ion-checkbox ng-model="item.checked" ng-checked="item.checked" ng-repeat="item in problems">{{item.text}}</ion-checkbox>
            <!-- <ion-checkbox>Noise</ion-checkbox>
            <ion-checkbox>Trash</ion-checkbox>
            <ion-checkbox>Lock-out</ion-checkbox> -->
            <!-- <label class="item item-input " id="newRequest-textarea1">
                <span class="input-label">Other Problems:</span><textarea placeholder=""></textarea>
            </label> -->
        </ion-list>
        <!-- <a id="newRequest-button3" ></a> -->
        <button type="submit" class=" button button-positive  button-block ">Submit Request</button>
      </form>

    </ion-content>
</ion-view>
